
<div class="paginaLogin">
    <app-header></app-header>
    <div class="divExterno">
        <!-- Contenedor del formulario de inicio de sesión -->
        <div class="divInterno">
            <form action="#" method="post">
                <!-- Diseño del formulario usando un grid -->
                <div class="grid">
                    <!-- Título de inicio de sesión con icono de flecha -->
                    <div class="divInicioSesionTitulo">
                        <a routerLink='/inicio'>
                            <i id="arrow" class="fa-solid fa-arrow-left"></i>
                        </a>
                        <h1>Inicio de Sesión</h1>
                    </div>
    
                    <!-- Campo para correo electrónico -->
                    <div class="divlabelEmail"><label for="email">Correo Electrónico:</label></div>
                    <div class="divInputEmail"><input type="email" id="email" name="email" required></div>
    
                    <!-- Campo para contraseña -->
                    <div class="divLabelContraseña"><label for="password">Contraseña:</label></div>
                    <div class="divInputContraseña"><input type="password" id="password" name="password" required></div>
    
                    <!-- Botón para enviar el formulario -->
                    <div class="divInicioSesion">
                        <button class="log">Login</button>
                    </div>
    
                    <!-- Enlace para registro de nuevos usuarios -->
                    <div class="divCrearCuenta"><p id="registrate">¿No tienes una cuenta? <a routerLink="/create">Regístrate</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

