
    <!-- Contenido de la página -->
    <div class="inicioVideo">
        <div class="divVideo1">
            <label for="video" id="labelVideo">El Pingüino (2022)</label>
            <div class="divVideoBordes">
                <video id="video" poster="/media/img/el-pingueino-colin-farrell-66ed9bf279ebc.jpg" controls>
                    <source src="/media/video/elPinguino.mp4" type="video/mp4" />
                    <!-- Ruta del video -->
                    Tu navegador no soporta la etiqueta de video.
                </video>
            </div>
            <div class="textoDebajoVideo">
                <h4>El Pingüino (2022)</h4>
                <p>
                    El Pingüino es una serie 'spin-off' de The Batman que profundiza
                    en la vida del icónico villano del Caballero Oscuro. La trama
                    sigue a Oswald Cobblepot, conocido como El Pingüino, mientras
                    lucha por consolidar su dominio en el oscuro y peligroso mundo del
                    crimen de Gotham City. Tras los eventos de la película The Batman,
                    Cobblepot busca expandir su imperio criminal y enfrentar a rivales
                    que amenazan su poder.
                </p>
            </div>
        </div>

        <div class="divVideo2">
            <div class="portadaRelacionados1" id="Pelicula1" data-id="1">
                <!-- Div con la portada de la película relacionada -->
                <label for="imagen1" id="labelPelicula1" class="imageSugeridos">Relacionados:</label>
                <a href="media-view">
                    <img src="media/img/peakyBlinders.jpg" id="imagen1" titulo="Peaky Blinders"
                        class="imageSugeridos pelicula" alt="" (click)="cambiarTitulo('Peaky Blinders')"/>
                </a>
            </div>

            <div class="portadaRelacionados2" id="Pelicula2">
                <!-- Div con la portada de la película relacionada -->
                <a href="media-view">
                    <img src="media/img/seven.jpg" class="imageSugeridos pelicula" alt="" (click)="cambiarTitulo('Seven')"/>
                </a>
            </div>

            <div class="portadaRelacionados3" id="Pelicula3">
                <!-- Div con la portada de la película relacionada -->
                <a href="media-view">
                    <img src="media/img/dexter.jpg" class="imageSugeridos pelicula" alt="" titulo="Dexter" (click)="cambiarTitulo('Dexter')" />
                </a>
            </div>

            <div class="portadaPelicula1" id="PortadaPelicula1">
                <!-- Descripción de la película relacionada -->
                <div class="textoSugeridos">
                    <p>Peaky Blinders(2013)</p>
                    <p>Steven Knight (Creador) ...</p>
                    <p>Cillian Murphy, Sam Neill...</p>
                </div>
            </div>

            <div class="portadaPelicula2" id="PortadaPelicula2">
                <!-- Descripción de la película relacionada -->
                <div class="textoSugeridos">
                    <p>Seven(1999)</p>
                    <p>David Fincher</p>
                    <p>Brad Pitt, Morgan Freeman ...</p>
                </div>
            </div>

            <div class="portadaPelicula3" id="PortadaPelicula3">
                <!-- Descripción de la película relacionada -->
                <div class="textoSugeridos">
                    <p>Dexter(2006)</p>
                    <p>James Manos Jr. (Creador)</p>
                    <p>Michael C. Hall, Jennifer Carpenter...</p>
                </div>
            </div>
        </div>
    </div>
