<app-header></app-header>

<div class="container">
  <h1 class="title">Creacion Usuario</h1>
</div>

<div class="container">
  <form [formGroup]="formularioCreate" (ngSubmit)="registrar($event)"> <!-- Formulario de registro -->
    <div class="field">
      <label for="" class="label">Username</label>
      <div class="control has-icons-left">
        <input
          type="text"
          class="input mb-2"
          formControlName="username"
          [class.is-success]="usernameValido"
          [class.is-danger]="usernameInvalido"
        /> <!-- Input de username -->
        <!-- Si el usuario aún no ha introducido nada -->
        <span *ngIf="!usernameValido && !usernameInvalido" class="icon is-small is-left">
          <i class="fa-solid fa-user" data-fa-i2svg="false"></i>
        </span>
        <!-- Si el username es válido -->
        <span *ngIf="usernameValido" class="icon is-small is-left">
          <i class="fa-solid fa-check" data-fa-i2svg="false"></i>
        </span>
        <!-- Si el username es inválido -->
        <span *ngIf="usernameInvalido" class="icon is-small is-left">
          <i class="fa-solid fa-ban" data-fa-i2svg="false"></i>
        </span>
        <span>
          <p *ngIf="usernameInvalido" class="help is-danger">El username no puede estar vacío</p>
        </span>
      </div>
    </div>
    
    <div class="field">
      <label for="" class="label">Contraseña</label>
      <div class="control has-icons-left">
        <input
          type="password"
          class="input mb-2"
          formControlName="contrasenha"
          [class.is-success]="contrasenhaUsuarioValida"
          [class.is-danger]="contrasenhaUsuarioInvalida"
        />
        <span *ngIf="!contrasenhaUsuarioValida && !contrasenhaUsuarioInvalida" class="icon is-small is-left">
          <i class="fa-solid fa-lock" data-fa-i2svg="false"></i>
        </span>
        <span *ngIf="contrasenhaUsuarioValida" class="icon is-small is-left">
          <i class="fa-solid fa-check" data-fa-i2svg="false"></i>
        </span>
        <span *ngIf="contrasenhaUsuarioInvalida" class="icon is-small is-left">
          <i class="fa-solid fa-ban" data-fa-i2svg="false"></i>
        </span>
        <span>
          <p *ngIf="contrasenhaUsuarioInvalida" class="help is-danger">La contraseña no puede estar vacía</p>
        </span>
      </div>
    </div>

    <!-- Select de rol-->
    <div class="field">
      <label class="label mb-2" for="rol">Rol</label>
      <div class="control has-icons-left">
        <div class="select is-rounded is-medium is-fullwidth">
          <select
            formControlName="rol"
            [class.is-success]="rolValido"
            [class.is-danger]="rolInvalido"
          >
            <option *ngIf="isAdmin()" value="administrador">Administrador</option> <!-- Si el usuario es administrador, puede seleccionar el rol de administrador -->
            <option value="usuario">Usuario</option>
          </select>
          <span *ngIf="!rolValido && !rolInvalido" class="icon is-small is-left">
            <i class="fa-solid fa-user" data-fa-i2svg="false"></i>
          </span>
          <!-- Icono de check (válido) -->
          <span *ngIf="rolValido" class="icon is-small is-left">
            <i class="fa-solid fa-check" data-fa-i2svg="false"></i>
          </span>
          <!-- Icono de ban (inválido) -->
          <span *ngIf="rolInvalido" class="icon is-small is-left">
            <i class="fa-solid fa-ban" data-fa-i2svg="false"></i>
          </span>
          <span *ngIf="rolInvalido" class="icon is-small is-left">
            <p *ngIf="rolInvalido" class="help is-danger">El rol no puede ir vacio</p>
          </span>
        </div>
      </div>
    </div>
    <!-- BOTON REGISTRO --> 
    <button  class="button is-purple mb-2" type="submit">Crear Cuenta</button>
  </form>
</div>

