<footer id="footer" class="footer">
    <!-- Pie de página -->
    <div class="footer-content">
        <!-- Contenido del pie de página -->
        <p>&copy; 2024 Miisae31. All rights reserved.</p>
        <p>Contact: info&#64;example.com</p>
        <p>
            Follow us on: <a href="#">Facebook</a> | <a href="#">Twitter</a> |
            <a href="#">Instagram</a>
        </p>
    </div>
</footer>
<script language="JavaScript" src="scripts/peliculas.js"></script>
<script language="JavaScript" src="scripts/buscador.js"></script>
<script language="JavaScript" src="scripts/menuDesplegable.js"></script>
<!-- Ruta del script -->
