<h1 class="title">Exemplo de uso dunha directiva personalizada</h1>

<!-- Parágrafo que cambiará de cor de fondo ao pasar o rato por riba -->
 <p appResaltar fondo="yellow">Pasa o rato por riba para ver o efecto!</p>

 <!-- Botón que cambiará de cor de fondo ao pasar o rato por riba -->
 <button class="button" appResaltar fondo="lightblue">Boton con efecto</button>

 <!-- Div que cambiará de cor de fondo ao pasar o rato por riba -->
  <div appResaltar fondo="lightgreen">
    Pasa o rato por riba deste div
  </div>