<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="formularioGrupo">
        <label>
            Id
        </label>
        <input type="number" class="controlFormulario" formControlName="id">
    </div>
    <div class="formularioGrupo">
        <label for="">
            Descrición
        </label>
        <input type="text" class="controlFormulario" formControlName="descricion">
    </div>
    <div class="formularioGrupo">
        <label for="">
            Nivel
        </label>
        <input type="number" class="controlFormulario" formControlName="nivel">
    </div>
    <input type="submit" value="Crear">
</form>