<h1>Incidencias actuais no sistema</h1>
<table>
    <thead>
        <tr>
            <th>Data</th>
            <th>Descrición</th>
            <th>Usuari&#64;</th>
            <th>Nivel</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let incidencia of incidencias, let indice = index">
            <tr *ngIf="!incidencia.solucionada">
                <td>{{ incidencia.data }}</td>
                <td>{{ incidencia.descricion }}</td>
                <td>{{ incidencia.usuario }}</td>
                <td
                    [ngClass]="{ 'nivelGrave' : incidencia.nivel == 3, 'nivelMedio' : incidencia.nivel == 2, 'nivelLeve' : incidencia.nivel == 1, }">
                    {{ incidencia.nivel }}</td>
                <td>
                    <button (click)="resolverIncidencia(indice)">Resolver</button>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
<br>
<h1>Incidencias resoltas no sistema</h1>
<table>
    <thead>
        <tr>
            <th>Data</th>
            <th>Descrición</th>
            <th>Usuari&#64;</th>
            <th>Nivel</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let incidencia of incidencias">
            <tr *ngIf="incidencia.solucionada" class="solucionada">
                <td>{{ incidencia.data }}</td>
                <td>{{ incidencia.descricion }}</td>
                <td>{{ incidencia.usuario }}</td>
                <td
                    [ngClass]="{ 'nivelGrave' : incidencia.nivel == 3, 'nivelMedio' : incidencia.nivel == 2, 'nivelLeve' : incidencia.nivel == 1, }">
                    {{ incidencia.nivel }}</td>
            </tr>
        </ng-container>
    </tbody>
</table>