<div class="contenido">
<div class="mejoresValoradasTitulo">
    <h2>Top Mejores Valoradas</h2>
    <div class="vl"></div>
    <!-- Línea divisoria -->
</div>

<div class="mejoresValoradasImagenes">
    <!-- Imágenes de las películas mejor valoradas -->

    <div class="div1MejoresValoradasFoto">
        <a href="media-view">
            <img src="/media/img/elPadrino.jpg" class="pelicula" titulo="El padrino" alt="" (click)="cambiarTitulo('El padrino')" />
        </a>
    </div>

    <div class="div2MejoresValoradasFoto">
        <a href="media-view">
            <img src="/media/img/elPadrino2.jpg" class="pelicula" titulo="El padrino II" alt="" (click)="cambiarTitulo('El padrino II')" />
        </a>
    </div>

    <div class="div3MejoresValoradasFoto">
        <a href="media-view">
            <img src="/media/img/theWire.jpg" class="pelicula" titulo="The Wire" alt="" (click)="cambiarTitulo('The Wire')" />
        </a>
    </div>

    <div class="div4MejoresValoradasFoto">
        <a href="media-view">
            <img src="/media/img/breakingBad.jpg" class="pelicula" titulo="Breaking Bad" alt="" (click)="cambiarTitulo('Breaking Bad')" />
        </a>
    </div>

    <div class="div5MejoresValoradasFoto">
        <a href="media-view">
            <img src="/media/img/laListaDeSchindler.jpg" class="pelicula" titulo="La lista de Schindler"
                alt="" (click)="cambiarTitulo('La lista de Schindler')" />
        </a>
    </div>

    <div class="div1MejoresValoradas">
        <!-- Div con la información de la película mejor valorada -->
        <div class="ratingsMejoresValoradas">
            <div class="div1Ratings">
                <!-- Div con la nota de la película -->
                <i class="fa-solid fa-star" style="color: #b197fc"></i>
                <p class="notaEstrella">9.2</p>
            </div>
            <div class="div2Ratings">
                <!-- Div con el título de la película -->
                <h3>El Padrino (1972)</h3>
            </div>
            <div class="div3Ratings">
                <!-- Div con el icono de información -->
                <i class="fa-solid fa-circle-info info" style="color: #b197fc"></i>
                <span class="textoInformacion">Más información</span>
            </div>
        </div>
    </div>

    <div class="div2MejoresValoradas">
        <div class="ratingsMejoresValoradas">
            <div class="div1Ratings">
                <i class="fa-solid fa-star" style="color: #b197fc"></i>
                <p class="notaEstrella">9</p>
            </div>

            <div class="div2Ratings">
                <h3>El Padrino 2 (1974)</h3>
            </div>

            <div class="div3Ratings">
                <i class="fa-solid fa-circle-info info" style="color: #b197fc"></i>
                <span class="textoInformacion">Más información</span>
            </div>
        </div>
    </div>

    <div class="div3MejoresValoradas">
        <div class="ratingsMejoresValoradas">
            <div class="div1Ratings">
                <i class="fa-solid fa-star" style="color: #b197fc"></i>
                <p class="notaEstrella">9.3</p>
            </div>

            <div class="div2Ratings">
                <h3>The wire (2002)</h3>
            </div>

            <div class="div3Ratings">
                <i class="fa-solid fa-circle-info info" style="color: #b197fc"></i>
                <span class="textoInformacion">Más información</span>
            </div>
        </div>
    </div>

    <div class="div4MejoresValoradas">
        <div class="ratingsMejoresValoradas">
            <div class="div1Ratings">
                <i class="fa-solid fa-star" style="color: #b197fc"></i>
                <p class="notaEstrella">9.5</p>
            </div>
            <div class="div2Ratings">
                <h3>Breaking Bad (2008)</h3>
            </div>
            <div class="div3Ratings">
                <i class="fa-solid fa-circle-info info" style="color: #b197fc"></i>
                <span class="textoInformacion">Más información</span>
            </div>
        </div>
    </div>

    <div class="div5MejoresValoradas">
        <div class="ratingsMejoresValoradas">
            <div class="div1Ratings">
                <i class="fa-solid fa-star" style="color: #b197fc"></i>
                <p class="notaEstrella">8.9</p>
            </div>
            <div class="div2Ratings">
                <h3>La lista de Schindler (1993)</h3>
            </div>
            <div class="div3Ratings">
                <i class="fa-solid fa-circle-info info" style="color: #b197fc"></i>
                <span class="textoInformacion">Más información</span>
            </div>
        </div>
    </div>
</div>

<div class="mejoresValoradasTitulo">
    <!-- Título de las películas mejor valoradas por género -->
    <h2 class="generoTitulo">Top Mejores Valoradas Por Género</h2>
    <div class="vlGenero">
    </div>
</div>

<div class="mejoresValoradasImagenes">
    <!-- Imágenes de las películas mejor valoradas por género -->

    <div class="div1MejoresValoradasFoto"> 
        <a href="media-view">
            <img src="/media/img/fullMetalJacket.jpg" class="pelicula" titulo="Full Metal Jacket" alt="" (click)="cambiarTitulo('Full Metal Jacket')" />
        </a>
    </div>

    <div class="div2MejoresValoradasFoto">
        <a href="media-view">
            <img src="/media/img/theSimpsons.jpg" class="pelicula" titulo="Los Simpsons" alt="" (click)="cambiarTitulo('Los Simpsons')" />
        </a>
    </div>

    <div class="div3MejoresValoradasFoto">
        <a href="media-view">
            <img src="/media/img/cosmos.jpg" class="pelicula" titulo="Cosmos: Un Viaje Personal" alt="" (click)="cambiarTitulo('Cosmos: Un Viaje Personal')" />
        </a>
    </div>

    <div class="div4MejoresValoradasFoto">
        <a href="media-view">
            <img src="/media/img/elSilencioDeLosCorderos.jpg" class="pelicula"
                titulo="El silencio de los corderos" alt="" (click)="cambiarTitulo('El silencio de los corderos')" />
        </a>
    </div>

    <div class="div5MejoresValoradasFoto">
        <a href="media-view">
            <img src="/media/img/blackMirror.jpg" class="pelicula" titulo="Black Mirror" alt="" (click)="cambiarTitulo('Black Mirror')" />
        </a>
    </div>

    <div class="div1MejoresValoradas">
        <div class="ratingsMejoresValoradasGenero">
            <!-- Div con la información de la película mejor valorada por género -->
            <div class="div1RatingsGenero">
                <!-- Div con la nota de la película -->
                <i class="fa-solid fa-star" style="color: #b197fc"></i>
                <p class="notaEstrella">9.2</p>
            </div>
            <div class="div2RatingsGenero">
                <!-- Div con el título de la película -->
                <h3>La Chaqueta Metálica (1987)</h3>
            </div>
            <div class="div3RatingsGenero">
                <!-- Div con el género de la película -->
                <p class="textoGenero">Género: Bélico</p>
            </div>
            <div class="div4RatingsGenero">
                <!-- Div con el icono de información -->
                <i class="fa-solid fa-circle-info info" style="color: #b197fc"></i>
                <span class="textoInformacion">Más información</span>
            </div>
        </div>
    </div>

    <div class="div2MejoresValoradas">
        <div class="ratingsMejoresValoradasGenero">
            <div class="div1RatingsGenero">
                <i class="fa-solid fa-star" style="color: #b197fc"></i>
                <p class="notaEstrella">9</p>
            </div>

            <div class="div2RatingsGenero">
                <h3>Los Simpsons (1989)</h3>
            </div>
            <div class="div3RatingsGenero">
                <p class="textoGenero">Género: Animado</p>
            </div>
            <div class="div4RatingsGenero">
                <i class="fa-solid fa-circle-info info" style="color: #b197fc"></i>
                <span class="textoInformacion">Más información</span>
            </div>
        </div>
    </div>

    <div class="div3MejoresValoradas">
        <div class="ratingsMejoresValoradasGenero">
            <div class="div1RatingsGenero">
                <i class="fa-solid fa-star" style="color: #b197fc"></i>
                <p class="notaEstrella">9.3</p>
            </div>

            <div class="div2RatingsGenero">
                <h3>Cosmos (1980)</h3>
            </div>
            <div class="div3RatingsGenero">
                <p class="textoGenero">Género: Documental</p>
            </div>

            <div class="div4RatingsGenero">
                <i class="fa-solid fa-circle-info info" style="color: #b197fc"></i>
                <span class="textoInformacion">Más información</span>
            </div>
        </div>
    </div>

    <div class="div4MejoresValoradas">
        <div class="ratingsMejoresValoradasGenero">
            <div class="div1Ratings">
                <i class="fa-solid fa-star" style="color: #b197fc"></i>
                <p class="notaEstrella">9.5</p>
            </div>
            <div class="div2RatingsGenero">
                <h3>El silencio de los corderos (1991)</h3>
            </div>
            <div class="div3RatingsGenero">
                <p class="textoGenero">Género: Terror</p>
            </div>
            <div class="div4RatingsGenero">
                <i class="fa-solid fa-circle-info info" style="color: #b197fc"></i>
                <span class="textoInformacion">Más información</span>
            </div>
        </div>
    </div>

    <div class="div5MejoresValoradas">
        <div class="ratingsMejoresValoradasGenero">
            <div class="div1RatingsGenero">
                <i class="fa-solid fa-star" style="color: #b197fc"></i>
                <p class="notaEstrella">8.9</p>
            </div>
            <div class="div2RatingsGenero">
                <h3>Black Mirror (2011)</h3>
            </div>
            <div class="div3RatingsGenero">
                <p class="textoGenero">Género: Ciencia Ficción</p>
            </div>
            <div class="div4RatingsGenero">
                <i class="fa-solid fa-circle-info info" style="color: #b197fc"></i>
                <span class="textoInformacion">Más información</span>
            </div>
        </div>
    </div>
</div>
</div>

